body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:hover {
  transition: 0.2s all ease-in;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

.button {
  padding: 12px 24px;
  width: 400px;
  background-color: transparent;
  border: 2px solid #e60000;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #e60000;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  background-color: #e60000;
  color: #fff;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hiden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header {
  padding-top: 15px;
}
.header__container, .header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__container .fh:hover, .header__contacts .fh:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  transition: 0.2s all ease;
  text-decoration: underline;
}
.header .bold {
  font-weight: 600;
}
.header .phone:hover {
  text-decoration: 2px solid #e60000 underline;
  color: #e60000;
}
.header__contacts {
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.header__contacts a:last-child {
  border-bottom: 2px solid transparent;
}
.header__contacts a:last-child:hover {
  border-bottom: 2px solid #e60000;
}
.header__nav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  text-transform: uppercase;
}
.header__nav li, .header__nav a {
  font-weight: 600;
}
.header__nav li :hover, .header__nav a :hover {
  color: #e60000;
  transition: 0.1s all ease;
  padding-bottom: 2px;
  border-bottom: 2px solid #e60000;
}
.header__wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo p {
  font-size: 18px;
  border-left: 4px solid black;
  padding-left: 15px;
}
.header__logo img {
  width: 100px;
  height: auto;
}
.header a > svg:hover {
  transform: scale(1.1);
}

.hero-section {
  padding-top: 100px;
  height: 100vh;
}
.hero-section .button {
  background-color: #e60000;
  color: #fff;
}
.hero-section .button:hover {
  background-color: transparent;
  color: #e60000;
}

form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
form .preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}
form input,
form button,
form label {
  width: 400px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  text-align: center;
}
form label {
  padding: 50px 0;
  position: relative;
  background-color: rgba(204, 204, 204, 0.236);
  color: rgb(136, 134, 134);
  cursor: pointer;
}
form .preview {
  position: absolute;
  content: "";
  top: 0;
}
form input[type=file] {
  display: none;
}
form button {
  display: block;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e60000;
  color: #fff;
  border: none;
  border: 2px solid transparent;
  cursor: pointer;
}
form button:hover {
  background-color: transparent;
  color: #e60000;
  border: 2px solid #e60000;
}
form .under-form-text {
  max-width: 800px;
  padding-top: 10px;
  color: #B3B4B6;
}
form .media-preview {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  margin: 5px;
}

.banner-section {
  background-image: url(../img/Door-Dings.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.banner-section__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner-section__title {
  color: #fff;
  text-align: center;
  padding-top: 60px;
}
.banner-section .button {
  background-color: #ccc;
  padding: 18px 0;
  font-size: 18px;
  margin-bottom: 60px;
}
.banner-section .button:hover {
  background-color: #e60000;
  border-color: #fff;
}

.benefits-section {
  padding-top: 60px;
  height: 100vh;
}
.benefits-section__items {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.benefits-section__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.benefits-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  height: 218px;
}
.benefits-section__item img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.benefits-section__benefit-name {
  font-size: 18px;
  font-weight: 600;
  color: #070707;
  max-width: 221px;
  height: 42px;
}
.benefits-section__benefit-desc {
  max-width: 350px;
}

.results-section {
  padding-top: 60px;
  background-color: #EBEFF2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.results-section .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.results-section div img {
  max-width: 600px;
  max-height: 500px;
  border-radius: 24px;
}
.results-section .swiper-button-prev,
.results-section .swiper-button-next {
  color: #e60000 !important;
}