.footer{
    padding: 15px 0;
  background-color: #1E2A38;

  &__container{

      display: flex;
      flex-direction: column;
      justify-content: space-between;  
      align-items: center;
      color: #fff;
      gap: 25px;
      @media screen and (min-width:768px) {
        flex-direction: row;
        
      }
    }


  &__Flogo,
  &__privacy-and-terms,
  &__socials {
    display: flex;
    gap:  25px;
    align-items: center;
  }
  &__privacy-and-terms a:hover{
    color: #e60000;
  }
  &__socials a:hover{
    scale: 1.1;
  }

  
  img{
    max-width: 60px;
  }
}