// $bp-desktop: 1280px;
// $bp-laptop: 1280px;
// $bp-tablet-S: 768px;
// $bp-tablet-L: 1024px;

// $bp-mobile-L: 480px;
// $bp-mobile-M: 480px;
// $bp-mobile-S: 320px;
form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    .preview {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-top: 15px;
    }

    input,
    button,
    label {
        width: 300px;
        padding: 8px 16px;
        border-radius: 12px;
        border: 1px solid #ccc;
        text-align: center;
        @media screen and (min-width:$bp-mobile-M) {
            width: 400px;
        }
    }

    label {
        padding: 50px 0;
        position: relative;
        background-color: rgba(204, 204, 204, 0.236);
        color: rgb(136, 134, 134);
        cursor: pointer;
    }

    .preview {
        position: absolute;
        content: "";
        top: 0;
    }

    input[type="file"] {
        display: none;
    }

    button {
        display: block;
        padding: 14px 28px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #e60000;
        color: #fff;
        border: none;
        border: 2px solid transparent;
        cursor: pointer;
        max-width: 300px;
        
        @media screen and (min-width:$bp-mobile-L) {
            max-width: 400px;
            }
    }

    button:hover {
        background-color: transparent;
        color: #e60000;
        border: 2px solid #e60000
    }

    .under-form-text {
        max-width: 800px;
        padding-top: 10px;
        font-size: 12px;
        color: #B3B4B6;
        @media screen and (min-width:$bp-mobile-L) {
                font-size: inherit;
            }
    }

    .media-preview {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        margin: 5px;
    }

}