.form-section{
    background-color: #EBEFF2;

    button{
        background-color: #e60000;
        color: #fff;
    }
    button:hover{
        background-color: transparent;
        color: #e60000;
    }
}