.hero-section{
    padding-top: 160px;
    // height: 100vh;

    .button{
        background-color: #e60000;
        color: #fff;
    }
    .button:hover{
        background-color: transparent;
        color: #e60000;
    }

}